.page-wrapper {
  width: 100%;
  padding: 100px 10px 0 10px;
}

.page-wrapper .btn-wrapper {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.page-wrapper .btn-wrapper .btn {
  margin: 40px;
  padding: 20px 40px;
  color: white;
}

.new-page-wrapper .btn-wrapper .client-new {
  background-color: #F39C12;
}

.new-page-wrapper .btn-wrapper .job-genre {
  background-color: #1ABC9C;
}

.new-page-wrapper .btn-wrapper .task {
  background-color: #2471A3;
}

.index-page-wrapper {
  margin-bottom: 150px;
}

.index-page-wrapper .btn-wrapper .client {
  background-color: #F1C40F;
}

.index-page-wrapper .btn-wrapper .appointment {
  background-color: #E74C3C;
}

.index-page-wrapper .btn-wrapper .agent {
  background-color: #3498DB;
}

.index-page-wrapper .btn-wrapper .money-schedule {
  background-color: #BDC3C7;
}

/* .index-page-wrapper .btn-wrapper .outcome {
  background-color: #5D6D7E;
}

.index-page-wrapper .btn-wrapper .client-income {
  background-color: #1E8449;
} */

.nav {
  margin: 70px auto 30px auto;
}

.tab-content {
  width: 100%;
}

table {
  width: 100%;
}

thead {
  width: 100%;
}

tbody {
  width: 100%;
}