.container {
  padding-bottom: 100px;
}

.form-title {
  width: 33%;
  margin-top: 100px;
  /* margin: 100px auto 50px auto; */
  letter-spacing: 8px;
}

.nav-tabs {
  width: 70%;
  margin: 0 auto;
}

.tab-content {
  margin-top: 60px;
}

.form-job {
  width: 70%;
}

.form-job .form-group label {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 30px;
}

.form-job .btn-box {
  margin-left: auto;
  width: 100px;
}

.form-job .btn-box .btn {
  width: 100%;
}