.container {
  padding-bottom: 100px;
}

.form-title {
  width: 33%;
  margin-top: 100px;
  margin-bottom: 100px;
  /* margin: 100px auto 50px auto; */
  letter-spacing: 8px;
}

.nav-tabs {
  width: 70%;
  margin: 0 auto;
}

form {
  margin-top: 60px;
}

form {
  width: 70%;
}

form .form-group label {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 100px;
}

.animal .selection .row {
  margin-bottom: 50px;
}

form .btn-wrapper {
  margin: 0 auto;
  width: 200px;
}

form .btn-wrapper .btn {
  width: 100%;
}