body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

a {
  text-decoration: none;
  color: #6c757d;
}

header .service-title {
  margin-left: 30px;
}

header .navbar .collapse .navbar-nav {
  margin-left: auto;
  padding-right: 20px;
}

header .navbar .collapse .navbar-nav .login-user a img {
  width: 30px;
  margin-right: 5px;
}